<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Restaurant</title>
</head>
<body>
    <h1>Edit Restaurant</h1>
    <form action="/restaurants/<%=myRestaurant._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Name</label>
            <input type="text" id="title" name="restaurant[name]" value="<%=myRestaurant.name%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="restaurant[location]" value="<%=myRestaurant.location%>">
        </div>
        <button>Update Restaurant</button>
    </form>
    <a href="/restaurants/<%= myRestaurant._id%>">Back to Restaurant</a>
</body>
</html>